.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: var(--trans-default);
}

.fade-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: var(--trans-default);
}

.slide-enter {
  transform: translateY(100%);
}

.slide-enter-active {
  transform: translateY(0);
  transition: var(--trans-default);
}

.slide-exit {
  transform: translateY(0);
}

.slide-exit-active {
  transform: translateY(100%);
  transition: var(--trans-default);
}
